@charset "utf-8";

.hand-write {
  font-family:HuiFontP109;
  font-size:120%
}

#top-editarea { margin-left:-10px; }
.hatena-module-title{display:none;}
.profile-wrapper{display:none;}
.footer-action-wrapper{display:none;}
.touch-item-list{display:none;}
body {font-family:"Avenir Next", sans-serif;}

.entry-content h3, .hatena-module-foot h3 {
  font-size: 110%;
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  padding: 4px 10px;
  border-left: solid 10px #c0392b;
  background: #eee;
}

.entry-title {
  background: #850505;
  font-size: 120%;
  font-weight: bold;
  color: #fff;
  margin:3px -10px 3px -10px;
  padding: 0 10px 0 10px;
}

.entry-title a {
  color: #fff;
}

#title {
   font-size: 230%;
   display: inline-block;
   font-family: HuiFontP109;
   font-weight: bold;
}

#title a {
	color: #333;
}

#blog-description {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 120%;
	display: inline-block;
    font-family: HuiFontP109;
}

#blog-description a {
    color: #333;
}


