@charset "utf-8";

@font-face {
    font-family: 'HuiFontP109';
    src: url('http://www.hatenablog.com/fonts/public/HuiFont/HuiFontP109.eot');
    src: url('http://www.hatenablog.com/fonts/public/HuiFont/HuiFontP109.eot?#iefix') format('embedded-opentype'),url('http://www.hatenablog.com/fonts/public/HuiFont/HuiFontP109.woff') format('woff'),url('http://www.hatenablog.com/fonts/public/HuiFont/HuiFontP109.ttf') format('truetype'),url('http://www.hatenablog.com/fonts/public/HuiFont/HuiFontP109.svg#HuiFontP109') format('svg');
    font-weight: normal;
    font-style: normal;
}



.hand-write {
  font-family:HuiFontP109;
  font-size:120%
}

.hatena-bookmark-bookmark-panel {
   z-index:10350001 !important;
}

.foot {
  width:100%;
  text-align:left;
}

#cse-search-box {
    width: 310px !important;
	position: absolute;
	top: -50px;
    right: 0px;
}

#cse-search-box td {
	padding: 0 !important;
}

#cse-search-box input[type="text"] {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #111;
	-moz-box-shadow: 0 0 5px #DDDDDD;
	-webkit-box-shadow: 0 0 5px #DDDDDD;
	width: 310px;
	height: 35px;
	padding: 0px 10px;
	font-size: 100%;
	border: solid 1px #ddd;
	vertical-align: middle;
	background: #efefef;
}

#cse-search-box input[type="text"]:focus {
	background: #fff;
}


#cse-search-box input[type="submit"] {
	display: inline-block;
	text-indent: -999px;
	width: 35px;
	height: 35px;
	border: none;
	vertical-align: bottom;
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0.4;
	cursor: pointer;
	background: url(http://img.f.hatena.ne.jp/images/fotolife/p/platism/20130711/20130711002432.gif) no-repeat 50% 50%;
}

#global-menu {
  padding:0px 0px 10px 0px;
  text-align:center;
}

#global-menu ul li {
  width: 95px;
  float: left;
}

#global-menu ul li a {
  font-size:120%;
  font-family:HuiFontP109;
  text-decoration: none;
  font-weight:bold;
  display: block;
  color: #000;
}

#global-menu ul li a:hover {
  text-decoration: none;
  color: #ddd;
  text-shadow:  0 0 2px #000;
}


* {
    margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size:100%;
}

img {
	border:none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	opacity: 0.8;
}

body {
	font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN",Meiryo,sans-serif;
	color: #333;
	background: #ddd;
}

ul, ol {
    list-style-type:none;  
}

#globalheader-container {
	width: 100%;
	color: #666;
}

#container {
	width: 1090px;
	padding-left: 15px;
	margin: auto;
}

#content {
	width: 1082px;
	margin: 15px auto;
	padding: 0;
}

#container a {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper {
	width: 760px;
	background: transparent;
	float: left;

}

.entry {
	background: #fff;
	position: relative;
	margin-bottom: 20px;
}

#blog-title {
	width: 985px;
	text-align: left;
	margin: 15px auto 15px;
}

#title {
	font-size: 230%;
	display: inline-block;
    font-family: HuiFontP109;
    font-weight: bold;
}

#title a {
	color: #333;
}

#title a:hover {
  color: #ddd;
  text-shadow:  0 0 2px #000;
}

#blog-description {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 120%;
	display: inline-block;
    font-family: HuiFontP109;
}

#blog-description a {
    color: #333;
}

.header-image-enable #blog-title, .header-image-only #blog-title {
	padding: 0;
	background: #fff;
	margin: 15px auto;
}

.header-image-enable #blog-title-inner {
	padding: 70px;
	background: #fff;
}

.header-image-enable #title {
	text-align: center;
	display: block;
}

.header-image-enable #blog-description {
	text-align: center;
	display: block;
}

.breadcrumb {
	display:none;
	width: 0;
	margin: 0px auto;
	height: 35px;
}

.breadcrumb div {
	padding: 8px 20px;
	width: 670px;
	height: 35px;
	background: #888;
	color: #fff;
}

.breadcrumb a {
	color: #fff;
}

.first,.middle,.last {
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.date .hyphen {
	display: none;
}

.date .date-month:before, .date .date-day:before {
	content: " / ";
}

.date a {
	font-size: 100%;
}

.entry-title {
	font-size: 130%;
	margin: 0.2em 0;
}

.entry-title a {
	color: #333;
}

.entry-header {
	position: relative;
	padding: 10px 20px;
	background: #850505;
	color: #fff;
	margin-bottom: 1em;
    border-radius: 5px 5px 0px 0px;
   -moz-border-radius: 5px 5px 0px 0px;
   -webkit-border-radius: 5px 5px 0px 0px;
   box-shadow: 0 0 5px #111;
}

.entry-header a {
	color: #fff;
}

.entry-header-menu a {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 20px;
	text-align: center;
	background-color: #e73d40;
	font-size: 100%;
	color: #fff;
	border: dotted 1px #efefef;
}

.entry-header-menu a:hover {
	text-decoration: none;
	box-shadow: inset 0px 1px 12px #666;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

.categories {
	width: 700px;
	word-wrap: normal; /* for IE */
}

.entry-header .no-categories {
	display: block;
	height: 21px;
}

.entry-header .categories a {
	font-size: 80%;
	display: inline-block;
	padding: 3px 6px;
	color: #fff;
}

.entry-content {
    font-size: 110%;
    padding-left:20px;
    padding-right: 20px;
    line-height: 1.8;
}

.entry-content a {
	color: #880000;
}

.entry-content a:hover {
	text-decoration: none;
	opacity: 0.8;
}

.entry-content h3, .entry-content h1, .entry-content h2, .hatena-module-foot h3 {
	font-size: 130%;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	padding: 4px 10px;
	border-left: solid 10px #c0392b;
	background: #eee;
}

.entry-content h4, .entry-content h5 {
	font-size: 120%;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	padding: 2px 15px;
	border-left: solid 5px #c0392b;
	border-bottom: dashed 1px #c0392b;
}

.entry-content blockquote,.hatena-module-foot blockquote {
    padding: 20px 45px;
	background: rgba(245,245,245,0.8);
	color: #333;
	position: relative;
	border: solid 1px #fff;
	margin: 0.8em 0;
}

.entry-content blockquote,.hatena-module-foot blockquote {
    font-size: 90%;
}

.entry-content blockquote:before,.hatena-module-foot blockquote:before {
	content: "“";
	font-family: serif;
	position: absolute;
	top:0;
	left:0;
	font-size: 600%;
	color: #c8c8c8;
	color: rgba(200,200,200,1);
	line-height: 1em;
}

.entry-content blockquote:after,.hatena-module-foot blockquote:after {
	content: "”";
	font-family: serif;
	position: absolute;
	bottom:0;
	right:0;
	font-size: 600%;
	color: #c8c8c8;
	color: rgba(200,200,200,1);
	line-height: 0;
}

.entry-content blockquote img,.hatena-module-foot blockquote img {
	max-width: 100%;
}

.entry-content blockquote cite,.hatena-module-foot blockquote cite {
	display: block;
	text-align: right;
}

.entry-content blockquote p,.hatena-module-foot blockquote p {
    margin: 0;
}

.entry-content p {
	margin-bottom: 24px;
}

.entry-content pre {
	color: #333;
	border: solid 1px #ddd;
	padding: 20px;
	background: #fff;
	font-size: 90%;
	margin: 0.8em 0;
}

.entry-content pre.code {
	color: #333;
	border: none;
	padding: 20px;
	background: #f6f6f2;
	font-size: 85%;
	margin: 0.8em 0;
}

.entry-content table {
	border-collapse: collapse;
	border: solid 1px #ddd;
	margin: 0.8em 0;
}

.entry-content th {
	background: #f5f5f5;
	font-weight: bold;
}

.entry-content th, .entry-content td {
	border: solid 1px #ddd;
	padding: 5px 10px;
}

.entry-content td {
	background: #fff;
}

.entry-content > ul, .entry-content > ol {
	margin: 0.8em 0;
}

.entry-content ul li {
	list-style-type: disc;
	margin-left: 30px;
}
.entry-content ol li {
	list-style-type: decimal;
	margin-left: 30px;
}

.entry-content dl {
	margin: 0.8em 0;
}

.entry-content dt {
	font-weight: bold;
	margin-bottom: 0.2em;
}

.entry-content dd {
	margin-left: 30px;
	margin-bottom: 0.4em;
}

.entry-content img, .entry-content iframe, .entry-content embed { 
	max-width: 100%;
}

.entry-content img.magnifiable, .entry-content img.hatena-fotolife { 
	max-width: 100%;
	border: solid 1px #ddd;
	padding: 5px;
	background: #efefef;
}

.entry-content img.magnifiable:hover, .entry-content img.hatena-fotolife:hover { 
	border: solid 1px #de741e;
}

.entry-content .hatena-asin-detail {
	background: #fff;
	border: solid 1px #ddd;
	padding: 10px 15px;
	font-size: 70%;
}

.entry-content .hatena-asin-detail li {
	list-style: none;
}


.footnote {
	margin-top:0px;
}

.entry-footer {
	padding-left:15px;
	padding-right:15px;
	padding-bottom: 15px;
}



.entry-footer a {
	color:#880000;
}

.fn {
	font-size: 100%;
}

.entry-footer-section {
	display: none;
}

.hatena-star-container {
	margin-left: 0px;
	margin-bottom: 10px;
	display: block;
}

.social-buttons {
}


.entry-footer .comment-box {
	margin: 0.8em 0;
}

.entry-footer .leave-comment-title {
	display: block;
	padding: 8px 0;
	color: #fff;
	background: #999;
	text-decoration: none;
	text-align: center;
	font-size: 100%;
	white-space: nowrap;
}

.entry-footer .leave-comment-title:hover {
	box-shadow: inset 0px 1px 15px #333;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

#box2 {
	width: 310px;
	height: auto;
	float: right;
	position: relative;
}

.hatena-module {
	width: 310px;
	background: #fff;
	font-size: 100%;
	margin-bottom: 14px;
}

.hatena-module-foot-inner {
    padding: 0px 15px 15px 15px; 
}

.hatena-module-foot a {
    color: #880000;
}

.hatenazmodule-foot a:hover {
    text-decoration: underline;
}

.hatena-module a:hover {
	text-decoration: underline;
}

.hatena-module a {
	color: #880000;
}

.hatena-module-title {
	font-size: 120%;
	color: #fff;
	background: #850505;
	padding: 10px 10px 9px 10px;
    border-radius: 5px 5px 0px 0px;
   -moz-border-radius: 5px 5px 0px 0px;
   -webkit-border-radius: 5px 5px 0px 0px;
   box-shadow: 0 0 5px #111;
}

.hatena-module-body {
	font-size: 100%;
	padding: 10px 9px 9px 10px;
}

.hatena-module-recent-entries .hatena-urllist li,.hatena-module-entries-access-ranking .hatena-urllist li {
  padding: 8px 0px;
  border-bottom: 1px dashed #c7dce3;
  line-height: 1.5;
  font-size:80%;
}

.hatena-module-archive .hatena-module-body {
	padding: 0;
}

.archive-module-year {
	position: relative;
}

.archive-module-button {
	position: absolute;
	width: 38px;
	height: 38px;
	line-height: 38px;
	background: #efefef;
	text-align: center;
	cursor: pointer;
	border-bottom: solid 1px #ddd;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.archive-module-month {
	margin: 0 !important;
}

.archive-module-year-title, .archive-module-month-title {
	display: block;
	padding-left: 48px;
	border-bottom: solid 1px #ddd;
	height: 38px;
	line-height: 38px;
}

.archive-module-year-title {
	padding-left: 10px;
	margin-left: 38px;
}

a.archive-module-year-title:hover, a.archive-module-month-title:hover, .archive-module-button:hover {
	text-decoration: none !important;
	background: #efefef;
	box-shadow: inset 0px 1px 12px #666;
	opacity: 0.8;
}

.hatena-module-profile .profile-icon {
	margin: 5px 15px 15px 5px;
	float: left;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #ecf0f1;
}

.hatena-module-profile {
    font-size:90%;
}

.profile-icon {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.profile-icon:hover {
	box-shadow: 0 0 0 5px #c45666 !important;
}

.id {
	font-size: 100%;
}

.profile-description {
	margin: 0.8em 0;
	text-align: left;
	line-height: 1.3;
}

.archive-module-month {
	list-style-type: none !important;
}


.hatena-urllist li {
  padding: 8px 0;
  border-bottom: 1px dashed #c7dce3;
  line-height: 1.5;
}

.hatena-module-archive .hatena-module-body {
	font-size: 100%;
}

.pager {
	width: 758px;
}

.pager:after {
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.page-entry .pager-next a,.page-entry .pager-prev a, .page-archive .pager-next a, .page-archive .pager-prev a {
	display: block;
	width: 372px;
	text-align: center;
	background: #850505;
	float: left;
	margin: auto;
	padding: 12px 0;
	font-size: 100%;
	color: #fff;
}

.page-entry .pager-next a, .page-archive .pager-next a {
	float: right;
}

/* Index-Page */
.page-index .pager-next a , .page-search .pager-next a , .page-category-category_name .pager-next a, .page-entries-year-month-day .pager-next a {
	display: block;
	width: 758px;
	text-align: center;
	background: #850505;
	margin: auto;
	padding: 12px 0;
	font-size: 100%;
	color: #fff;
}

.pager-next a:hover, .pager-prev a:hover {
	text-decoration: none;
	box-shadow: inset 0px 1px 12px #666;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

.page-archive #main-inner:before {
	content: "Archive";
	display: block;
	width: 720px;
	margin-left: -20px;
	margin-top: -10px;
	padding: 10px 20px;
	background: #8f0000;
	color: #fff;
	font-size: 120%;
	font-family: 'Simonetta',meiryo,sans-serif;
   border-radius: 5px 5px 0px 0px;
   -moz-border-radius: 5px 5px 0px 0px;
   -webkit-border-radius: 5px 5px 0px 0px;
   box-shadow: 0 0 5px #111;
}


.page-archive #main-inner {
	padding: 10px 20px;
	background: #fff;
	position: relative;
	margin-bottom: 15px;
}

.page-archive #main-inner .page-archive-section:first-of-type {
	margin-top: 20px;
}

.page-archive #main-inner .page-archive-section {
	position: relative;
}

.page-archive #main-inner a {
	color: #333;
}

.page-archive #main p {
	font-size: 100%;
	color: #333;
	margin: 15px auto;
}

.page-archive #main .entry-title {
	font-size: 120%;
	display: inline-block;
	color: #fff;
	background: #880000;
	margin-top:0px;
	padding-left:10px;
	padding-right:10px;
	width:100%;
}

.page-archive .date {
	color: #fff;
	background: #880000;
	padding-left:10px;
	padding-right:10px;
	border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
}

.page-entry .entry-description {
	padding-left:10px;
	padding-right:10px;
}

.archive-entry .entry-thumb, .archive-entry .bookmark-widget-counter {
	margin-left:10px;
}



.page-archive .date a time {
	color: #fff;
}

.page-archive #main .entry-title a {
	color: #fff;
}

.page-archive section {
	margin-top:10px;
	margin-bottom: 10px;
	border: solid #ccc 1px;
	border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
}

.page-archive #main section h1 {
	font-weight: bold;
	font-size: 100%;
	color: #333;
	margin-bottom: 0.4em
}

.page-archive #main section li {
	margin-bottom: 0.8em;
	border-bottom: solid 1px #ddd;
	padding-bottom: 0.4em; 
}

.page-archive #main .categories a {
	display: inline-block;
	color: #888;
	padding: 0 5px;
	line-height: 23px;
	height: 23px;
	font-size: 75%;
}

.page-archive #main .categories {
	display: block;
}

.page-archive #main li:first-of-type .categories {
	position: absolute;
	top: -4px;
	left: 120px;
}

.page-archive #main li:not(:first-of-type) .categories {
	position: relative;
	left: 120px;
}

.page-about #main dt {
	padding: 0 0 0.4em;
	margin: 0 0 0.4em 0;
	border-bottom: solid 1px #ddd;
}

.page-about #main dd {
	margin: 0 0 0.8em 10px;
}

.page-about #main img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 10px;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #ecf0f1;
}

.page-about #main dt:before {
	content: "■ ";
	color: #ce0c0c;
}

.page-about #main .entry-content {
	padding: 10px 20px;
}

.page-about #main .entry-content:before {
	content: "About";
	display: block;
	width: 748px;
	margin-left: -20px;
	margin-top: -10px;
	padding: 10px 10px;
	background: #88000;
	color: #fff;
	font-size: 120%;
   border-radius: 5px 5px 0px 0px;
   -moz-border-radius: 5px 5px 0px 0px;
   -webkit-border-radius: 5px 5px 0px 0px;
}

.page-about .subscription-count {
	display: block;
}

.no-entry .entry-content {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}


.no-entry .entry-content h1 {
	margin: 0.5em 0;
}

#content:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

#footer {
	clear: both;
	text-align: center;
	padding: 10px;
	font-size: 90%;
	z-index: 4;
}

#footer a {
	color: #333;
	text-shadow: 0 0 1px #fff;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

#footer a:hover {
	text-decoration: none;
}

#footer img {
	border-radius: 50%;
}

#top-editarea, #bottom-editarea {
	width: 985px;
	margin: 0 auto;
}

.page-archive-section h1 {
	font-weight: normal !important;
}


.hatena-module, .entry-inner, .pager-next a, .pager-prev a, .page-archive #main-inner, .header-image-enable #blog-title-inner, .header-image-only #blog-title-inner {
   border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;
   box-shadow: 0 0 5px #111;
}

.hatena-module-title a {
    position: relative;
	display: block;
	color: #fff;
	padding: 0px 0px;
}

.hatena-module-title a:hover {
	text-decoration: none;
	text-shadow:  0 0 3px #000;
	opacity: 0.8;
}

.hatena-module-entries-access-ranking .hatena-module-title a:after,
  .hatena-module-recent-entries .hatena-module-title a:after {
	content: ">>一覧を見る";
	font-size: 90%;
	position: absolute;
	right: 10px;
	color: #fff;
}

.hatena-module-profile .hatena-module-title a:after {
	content: ">>詳細を見る";
	font-size: 90%;
	position: absolute;
	right: 10px;
	color: #fff;
}

.book-store a:after {
	content: ">>来店する";
	font-size: 90%;
	position: absolute;
	right: 10px;
	color: #fff;
}

.hatena-profile-button { 
    clear: both;
    font-size: 10px;
    height: 20px;
    margin: 4px 0px 9px 0;
    padding: 4px 10px 0px 20px;
    display: block; 
    border: 1px solid #bbb !important; 
    border-radius: 3px; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    font-weight: bold; 
    text-decoration: none; 
    color: #555 !important; 
    float: left; 
    background: url('http://cdn-ak.f.st-hatena.com/images/fotolife/b/bulldra/20141025/20141025215841.png') no-repeat 0 0, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
    background-position: 0% 50%;
}

.hatena-profile-button:hover {
    text-decoration: none !important;
}


/* <system section="background" selected="custom"> */
body{ background-image: url('http://cdn-ak.f.st-hatena.com/images/fotolife/b/bulldra/20140501/20140501195436.png'); background-repeat: repeat; background-color:transparent; background-attachment: fixed; background-position: left top;}
/* </system> */

.my_adslot { width: 300px; height: 250px; }
@media(min-width: 500px) { .my_adslot { width: 300px; height: 250px; } }
@media(min-width: 800px) { .my_adslot { width: 336px; height: 280px; } }

div #breadcrumb div {
	display: inline;
	font-size: 13px;
}

div #breadcrumb div a {
    color:#880000;
}



